{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
  <h1 class="text-center">Liste des tâches</h1>
  <div class="row">
    {% for task in tasks %}
        <div class="card m-1 p-2 col-3">
            <p class="text-center">
                <a href="{{ path('task', {'id': task.id}) }}">{{ task.title }}</a>
            </p>
            <div class="d-flex justify-content-around mb-2">
                {% for category in task.categories %}
                    <div>
                        <span class="badge rounded-pill bg-info">{{ category.name }}</span>
                    </div>
                {% endfor %}
            </div>
            <p>
                {% if 'now'|date_modify("-1 day") < task.endDate %}
                    <span class="badge bg-danger">
                        Urgent
                    </span>
                {% elseif 'now'|date_modify("-7 day") < task.endDate %}
                    <span class="badge bg-warning">
                           Rappel
                        </span>
                {% else %}
                    <span class="badge bg-success">
                            To do
                        </span>
                {% endif %}
            </p>
            <p>{{ task.description }}</p>
            <p>{{ task.user.username }}</p>
            <p>
                A finir avant le : {{ task.endDate|date("d/m/Y") }}
            </p>
            <p>
                {% if task.isDone %}
                    Faite
                {% else %}
                    à finir
                {% endif %}
            </p>
        </div>
    {% endfor %}
  </div>

{% endblock %}
