{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
  <h1 class="text-center">Liste des tâches</h1>
  <div class="row">
      <div class="col-2">
          {% for category in categories %}
              <div class="col-12 m-3">
                  <span class="badge bg-primary">{{ category.name }}</span>
              </div>

          {% endfor %}
      </div>
      <div class="col-10">
          <div class="row">
              {% for task in tasks %}
                  <div class="card m-1 p-2 col-3">
                      <p class="text-center">
                          <a href="{{ path('task', {'id': task.id}) }}">{{ task.title }}</a>
                      </p>
                      <div class="d-flex justify-content-around mb-2">
                          {% for category in task.categories %}
                              <div>
                                  <span class="badge rounded-pill bg-info">{{ category.name }}</span>
                              </div>
                          {% endfor %}
                      </div>
                      <p>
                        <span class="badge bg-{{ task.urgency.color }}">{{ task.urgency.msg }}</span>
                      </p>
                      <p>{{ task.description| slice (0, 150)~'...' }}</p>
                      <p>{{ task.user.username }}</p>
                      <p>
                          A finir avant le : {{ task.endDate|date("d/m/Y") }}
                      </p>
                      <p>
                          {% if task.isDone %}
                              <button type="button" class="btn btn-outline-success disabled">Terminée</button>
                          {% else %}
                              <button type="button" class="btn btn-outline-warning disabled">A faire</button>
                          {% endif %}
                      </p>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>

{% endblock %}
